@keyframes slide-up {

    0%,
    10%,
    100% {
        transform: translate3d(0, -10px, 0);
    }

    12%,
    22% {
        transform: translate3d(0, -50px, 0);
    }

    24%,
    34% {
        transform: translate3d(0, -90px, 0);
    }

    36%,
    46% {
        transform: translate3d(0, -130px, 0);
    }

    48%,
    58% {
        transform: translate3d(0, -170px, 0);
    }

    /* 80%,
    85% {
        transform: translate3d(0, -50px, 0);
    } */
}