body,
html {
  scroll-behavior: smooth;
}

.bg-body {
  background-color: #0C111C !important;
  height: auto;
  color: white;
}

nav {
  top: 50px;
  width: 50px;
  height: 90%;
}

#navLink {
  width: auto;
  height: 100%;
  margin-top: 3vh;
  border-right: 1px #46484F solid;
  margin-left: 15px;
}

#navLink a {
  font-weight: 700;
  text-decoration: none;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-bottom: 2vh;
  padding: 8px 5px 8px 5px;
}

#navLink a:hover {
  transform: rotate(270deg);
  margin-left: 50px;
}

#navLink a:hover:not(.active) {
  background-color: #222325;
  border-radius: 10px;
}

.active {
  border-left: #405EB2 3px solid !important;
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
}

#photo img {
  position: fixed;
  left: 30%;
  top: 10%;
  width: 200px;
}

#texte {
  position: fixed;
  font-size: 35px;
  top: 400px;
  left: 25%;
}

ul {
  overflow: hidden;
  height: 50px;
  color: aqua;
  padding: 0px;
}

li {
  list-style: none;
  animation: slide-up 13s infinite backwards;
}

#presentation {
  margin-top: 1000px;
}

@media screen and (min-width:1000px) {
  #texte {
    position: static;
    margin-top: 50px;
  }

}

/* #bracket {
  color: aqua;
  font-weight: 600;
}

ul#competences {
  overflow: hidden;
  height: 30px;
  color: aqua;
}

#competences li {
}